@model IndexVM
<div class="slider-area bg-gray">
    <div class="hero-slider-active-1 hero-slider-pt-1 nav-style-1 dot-style-1">

        @foreach (Slide slide in Model.Slides)
        {
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="hero-slider-content-1 hero-slider-content-1-pt-1 slider-animated-1">
                                <h4 class="animated">New Arrivals</h4>
                                <h1 class="animated">@slide.Title</h1>
                                <p class="animated">@slide.Description</p>
                                <div class="btn-style-1">
                                    <a class="animated btn-1-padding-1" href="@slide.Link">Ürüne Git</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="hero-slider-img-1 slider-animated-1">
                                <img class="animated" src="@slide.Picture" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<div class="service-area">
    <div class="container">
        <div class="service-wrap">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-cursor"></i>
                        </div>
                        <div class="service-content">
                            <h3>Free Shipping</h3>
                            <span>Orders over $100</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-reload"></i>
                        </div>
                        <div class="service-content">
                            <h3>Free Returns</h3>
                            <span>Within 30 days</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-lock"></i>
                        </div>
                        <div class="service-content">
                            <h3>100% Secure</h3>
                            <span>Payment Online</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="single-service-wrap mb-30">
                        <div class="service-icon">
                            <i class="icon-tag"></i>
                        </div>
                        <div class="service-content">
                            <h3>Best Price</h3>
                            <span>Guaranteed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us-area pt-85">
    <div class="container">
        <div class="border-bottom-1 about-content-pb">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="about-us-logo">
                        <img src="/images/about/logo.png" alt="logo">
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="about-us-content">
                        <h3>Introduce</h3>
                        <p>Norda store is a business concept is to offer fashion and quality at the best price. It has since it was founded in 2022 grown into one of the best WooCommerce Fashion Theme. The content of this site is copyright-protected and is the property of David Moye Creative.</p>
                        <div class="signature">
                            <h2>David Moye</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area section-padding-1 pt-115 pb-75">
    <div class="container">
        <div class="section-title-tab-wrap mb-45">
            <div class="section-title">
                <h2>Featured Products</h2>
            </div>
            <div class="tab-style-1 nav">
                <a href="#product-1" data-bs-toggle="tab">Çok Satılanlar</a>
                <a href="#product-2" data-bs-toggle="tab"> Trendler</a>
                <a class="active" href="#product-3" data-bs-toggle="tab">Tüm Ürünler</a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="tab-content jump">
            <div id="product-1" class="tab-pane">
                <div class="row">
                    @foreach (Product product in Model.BestSalesProducts)
                    {
                        <partial name="_ProductPartial" model="product"></partial>
                    }
                </div>
            </div>
            <div id="product-2" class="tab-pane">
                <div class="row">
                    @foreach (Product product in Model.LatestProducts)
                    {
                        <partial name="_ProductPartial" model="product"></partial>
                    }
                </div>
            </div>
            <div id="product-3" class="tab-pane active">
                <div class="row">
                    @foreach (Product product in Model.Products)
                    {
                        <partial name="_ProductPartial" model="product"></partial>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="instagram-area">
    <div class="container">
        <div class="section-title-tag-wrap mb-45">
            <div class="section-title">
                <h2>Our Instagram</h2>
            </div>
            <div class="instagram-tag">
                <span>#monkeylover</span>
            </div>
        </div>
        <div class="row g-0">
            <div class="col">
                <div class="instagram-item">
                    <a class="instagram-image" href="#">
                        <img src="/images/instagram/1.jpg" alt="Instagram Image">
                    </a>
                    <ul class="add-action">
                        <li>
                            <a href="#">
                                <i class="icon_plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="instagram-item">
                    <a class="instagram-image" href="#">
                        <img src="/images/instagram/2.jpg" alt="Instagram Image">
                    </a>
                    <ul class="add-action">
                        <li>
                            <a href="#">
                                <i class="icon_plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="instagram-item">
                    <a class="instagram-image" href="#">
                        <img src="/images/instagram/3.jpg" alt="Instagram Image">
                    </a>
                    <ul class="add-action">
                        <li>
                            <a href="#">
                                <i class="icon_plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="instagram-item">
                    <a class="instagram-image" href="#">
                        <img src="/images/instagram/4.jpg" alt="Instagram Image">
                    </a>
                    <ul class="add-action">
                        <li>
                            <a href="#">
                                <i class="icon_plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="instagram-item">
                    <a class="instagram-image" href="#">
                        <img src="/images/instagram/5.jpg" alt="Instagram Image">
                    </a>
                    <ul class="add-action">
                        <li>
                            <a href="#">
                                <i class="icon_plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-logo-area pt-100 pb-100">
    <div class="container">
        <div class="brand-logo-wrap brand-logo-mrg">
            <div class="single-brand-logo mb-10">
                <img src="/images/brand-logo/brand-logo-1.png" alt="brand-logo">
            </div>
            <div class="single-brand-logo mb-10">
                <img src="/images/brand-logo/brand-logo-2.png" alt="brand-logo">
            </div>
            <div class="single-brand-logo mb-10">
                <img src="/images/brand-logo/brand-logo-3.png" alt="brand-logo">
            </div>
            <div class="single-brand-logo mb-10">
                <img src="/images/brand-logo/brand-logo-4.png" alt="brand-logo">
            </div>
            <div class="single-brand-logo mb-10">
                <img src="/images/brand-logo/brand-logo-5.png" alt="brand-logo">
            </div>
        </div>
    </div>
</div>