@model OrderVM
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Checkout </li>
            </ul>
        </div>
    </div>
</div>

<div class="checkout-main-area pt-120 pb-120">
    <div class="container">

        <div class="customer-zone mb-20" style="text-align: center; margin: auto;">
            <p class="cart-page-title">@TempData["SuccessMessage"]</p>
        </div>
    </div>
</div>